@font-face {
    font-family: 'San Francisco Pro Display Regular';
    src: url('assets/fonts/SFProDisplay-Regular.eot');
    src: url('assets/fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/SFProDisplay-Regular.woff') format('woff'),
        url('assets/fonts/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'San Francisco Pro Display Medium';
    src: url('assets/fonts/SFProDisplay-Medium.eot');
    src: url('assets/fonts/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/SFProDisplay-Medium.woff') format('woff'),
        url('assets/fonts/SFProDisplay-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'San Francisco Pro Display Bold';
    src: url('assets/fonts/SFProDisplay-Bold.eot');
    src: url('assets/fonts/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/SFProDisplay-Bold.woff') format('woff'),
        url('assets/fonts/SFProDisplay-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'San Francisco Pro Display Black';
    src: url('assets/fonts/SFProDisplay-Black.eot');
    src: url('assets/fonts/SFProDisplay-Black.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/SFProDisplay-Black.woff') format('woff'),
        url('assets/fonts/SFProDisplay-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

.h1 {
    font-family: 'San Francisco Pro Display Black';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 115px;
    letter-spacing: 7px;
    text-transform: uppercase;
}

.h2 {
    font-family: 'San Francisco Pro Display Black';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 86px;
    letter-spacing: 3px;
}

.h3 {
    font-family: 'San Francisco Pro Display Black';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 57px;
    letter-spacing: 3px;
}

.h4 {
    font-family: 'San Francisco Pro Display Black';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 2px;
}

.body-l-regular {
    font-family: 'San Francisco Pro Display Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 1px;
}

.body-l-medium {
    font-family: 'San Francisco Pro Display Medium';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 1px;
}