// Основные цвета
$yellow-100: #FFDD2D;
$yellow-200: #FCC521;
$yellow-300: #FAB619;

$gray-100: #F5F5F6;
$gray-200: #E7E8EA;
$gray-300: #CBCFD3;
$gray-400: #959BA4;
$gray-500: #79818C;
$gray-600: #616871;

$black-100: #909090;
$black-200: #666666;
$black-300: #333333;
$black-400: #212121;

$white: #ffffff;

$blue-100: #1771E6;
$blue-200: #1464CC;
$blue-300: #0953B3;

$green-100: #39B54A;
$green-200: #2CA53A;
$green-300: #168821;

$red-100: #E01F19;
$red-200: #D3120E;
$red-300: #C40B08;

// Саппорт цвета
$lightgray: #ECF1F7;
$lightblue: #E4ECF4;
$lightgreen: #E7F6E9;
$lightred: #FBE4E3;
$lightyellow: #FFF1AB;
$lightorange: #FCDDBC;
$darkblue: #5485B8;
$darkorange: #E8923B;

// Цвета для текста
$color-text-300: rgba(0,0,0,0.8);
$color-text-200: rgba(0,0,0,0.54);
$color-text-100: rgba(186,186,186,0.8);

// Брейкпоинты для медиа-запросов
$breakpoint-mobile: 320px;
$breakpoint-tablet-s: 600px;
$breakpoint-tablet-l: 768px;
$breakpoint-desktop-s: 1024px;
$breakpoint-desktop-m: 1360px;
$breakpoint-desktop-l: 1600px;
$breakpoint-desktop-xl: 1780px;

// Вертикальный ритм
$spacing-xxs: 8px;
$spacing-xs: 16px;
$spacing-s: 24px;
$spacing-m: 32px;
$spacing-l: 48px;
$spacing-xl: 72px;
$spacing-xxl: 112px;
$spacing-xxxl: 160px;
$spacing-huge: 240px;

// Тени
$shadow-normal: 0px 4px 24px rgba(0, 0, 0, 0.12);
$shadow-hover: 0px 12px 36px rgba(0, 0, 0, 0.2);
$shadow-modal: 0px 18px 30px rgba(77, 77, 77, 0.52);

// Кнопки
$btn-wide: 16px 122px; //Для мобилок
$btn-large: 16px 32px;
$btn-medium: 10px 20px;
$btn-small: 8px 12px;

// Плавный переход
$trs: all 300ms ease-out;

// Скругления
$border-round: 8px;
$border-round-small: 4px;