@keyframes slow-moving-x {
    from {
        transform: translateX(0);
    }

    50% {
        transform: translateX(20px);
    }

    to {
        transform: translateX(0);
    }
}

.animation-slow-moving-x {
    animation-name: slow-moving-x;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}