.crs-body::-webkit-scrollbar {
    background: $lightgray;
    width: 8px;
}

.crs-body::-webkit-scrollbar-thumb {
    background-color: $gray-300;
    border-radius: 4px;
    &:hover {
        background-color: $gray-400;
    }
}

.overflow::-webkit-scrollbar {
    background: $lightgray;
    height: 5px;
}

.overflow::-webkit-scrollbar-thumb {
    background-color: $gray-300;
    border-radius: 4px;
    &:hover {
        background-color: $gray-400;
    }
}