.space-8 {
    height: $spacing-xxs;
    grid-column: 1/-1;
}

.space-16 {
    height: $spacing-xs;
    grid-column: 1/-1;
}

.space-24 {
    height: $spacing-s;
    grid-column: 1/-1;
}

.space-32 {
    height: $spacing-m;
    grid-column: 1/-1;
}

.space-48 {
    height: $spacing-l;
    grid-column: 1/-1;
}

.space-72 {
    height: $spacing-xl;
    grid-column: 1/-1;
}

.space-112 {
    height: $spacing-xxl;
    grid-column: 1/-1;
}

.space-160 {
    height: $spacing-xxxl;
    grid-column: 1/-1;
}

.space-240 {
    height: $spacing-huge;
    grid-column: 1/-1;
}