.btn-primary-l {
    padding: 32px 72px;
    background: rgba(51, 51, 51, 0.3);
    border: 1px solid #333333;
    box-sizing: border-box;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    color: #89FFB7;
    position: relative;
    .corner-left-top {
        position: absolute;
        left: 0;
        top: 0;
    }
    .corner-left-bottom {
        position: absolute;
        right: 0;
        top: 0;
        transform: rotate(90deg);
    }
    .corner-right-top {
        position: absolute;
        left: 0;
        bottom: 0;
        transform: rotate(-90deg);
    }
    .corner-right-bottom {
        position: absolute;
        right: 0;
        bottom: 0;
        transform: rotate(180deg);
    }
}