.blend-lighten {
    mix-blend-mode: lighten;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.mr-0 {
    margin-right: 0;
}

.space-16 {
    display: block;
    height: 16px;
}

.no-scroll {
    overflow: hidden !important;
}

.disabled {
    cursor: not-allowed !important;
    user-select: none;
    opacity: .5;
}