.mobile-hint-wrapper {
    display: none;
}

.slide-wrapper {
    grid-column: 1/-1;
    overflow-x: auto;
    display: flex;

    &::-webkit-scrollbar {
        width: 0;
    }

    .slide-wrapper-island {
        display: flex;

        .slide-wrapper-island__content {
            padding: 20px;
            margin-right: 16px;
            background-color: $gray-100;
            border-radius: $border-round;
            text-align: center;
            width: 15rem;

            p {
                color: $color-text-200;
            }

            .h5 {
                margin-top: 12px;
                margin-bottom: 8px;
            }
        }

    }

    .slide-wrapper-iisland:last-child {
        margin-right: 0;
    }
}

#docs-for-client-island-20 {
    margin-top: 32px !important;
    grid-column: 1/7;
}

#docs-for-client-island-21 {
    margin-top: 32px !important;
    grid-column: 7/13;
}

.glossary {
    .modal-body {
        grid-column: 1/4;

        p {
            margin-bottom: 16px;
        }

        p:last-child {
            margin-bottom: 0;
        }
    }
}

#kinds-of-markets {
    #island-1 {
        grid-column: 1/5;
    }

    #island-2 {
        grid-column: 5/9;
    }

    #island-3 {
        grid-column: 9/13;
    }

    #island-4 {
        transition: $trs;
        // box-shadow: $shadow-normal;
        // border: 0;
        cursor: pointer;
        margin-top: 0;
        margin-bottom: 0;
        position: relative;
        background-image: url('img/img_2.png');
        background-repeat: no-repeat;
        background-position: 100% 0px;

        &:hover {
            // transform: translateY(-5px);
            // box-shadow: $shadow-hover;
        }

        .island-l-left__content {
            grid-column: 1/7;

            .btn-flat {
                padding: 0;
                margin-top: 72px;
            }

            .h5 {
                transition: $trs;
            }
        }

        .img-fluid {
            grid-column: 11/17;
            position: absolute;
            right: -20px;
            border-radius: 0px 0px 7px 0px;
        }
    }
}

#who-controls-exchanges {
    grid-column: 7/13;
}

#premium-investors {
    transition: $trs;
    grid-column: 1/-1;
    position: relative;
    border: 0;
    cursor: pointer;
    box-shadow: $shadow-normal;

    &:hover {
        transform: translateY(-5px);
        box-shadow: $shadow-hover;
    }

    h3 {
        transition: $trs;
        margin-bottom: 8px;
    }

    .btn-flat {
        padding: 0;
        margin-top: 72px;

        img {
            display: none;
        }
    }

    .island-l-left__content {
        grid-column: 1/11;
    }

    .img-fluid {
        grid-column: 12/17;
        position: absolute;
        align-self: center;
    }
}

#dealer {
    #dealer-island-1 {
        grid-column: 1/7;
    }

    #dealer-island-2 {
        grid-column: 7/13;
    }
}

#access-to-exchanges {
    #access-to-exchanges-island-1 {
        grid-column: 1/4;
    }

    #access-to-exchanges-island-2 {
        grid-column: 4/7;
    }
}



#docs-for-client {
    .h3 {
        margin-bottom: 32px;
    }

    a {
        color: $color-text-300;

        &:hover {
            text-decoration: none;
        }

        &:visited {
            color: $color-text-200;
        }
    }

    .island-l-left {
        transition: $trs;
        margin-top: 0;
        cursor: pointer;
        position: relative;
        min-height: 148px;
        border: 0;
        box-shadow: $shadow-normal;

        &:hover {
            box-shadow: $shadow-hover;
            transform: translateY(-5px);
        }

        .island-l-left__content {
            grid-column: 1/8;
        }

        .island-l-left__image {
            grid-column: 9/9;
        }
    }

    #docs-for-client-island-1 {
        grid-column: 1/7;
    }

    #docs-for-client-island-2 {
        grid-column: 7/13;
    }

    #docs-for-client-island-3 {
        grid-column: 1/7;
    }

    #docs-for-client-island-4 {
        grid-column: 7/13;
    }

    #docs-for-client-island-5 {
        grid-column: 1/7;
    }

    #docs-for-client-island-6 {
        grid-column: 7/13;
    }

    #docs-for-client-island-7 {
        grid-column: 1/7;
    }

    #docs-for-client-island-8 {
        grid-column: 7/13;
    }

    #docs-for-client-island-9 {
        grid-column: 1/7;
        margin-bottom: 0;
    }

    #docs-for-client-island-10 {
        grid-column: 7/13;
        margin-bottom: 0;
    }

    .crs-badge {
        position: relative;
        top: -2px;
        margin-left: 2px;
        background-color: $lightgreen;
    }
}

#trading-on-stock {
    .island-l-left {
        transition: $trs;
        cursor: pointer;
        position: relative;
        border: 0;

        &:hover {
            box-shadow: $shadow-hover;
            transform: translateY(-5px);
        }
    }

    .btn-flat {
        padding: 0;
        display: flex;

        .img-fluid {
            margin-right: 4px;
        }
    }

    #trading-on-stock-island-1 {
        grid-column: 1/7;
        margin-bottom: 0;
        background-image: url('img/img_6.png');
        background-repeat: no-repeat;
        // background-position: 90% 50%;
        background-position: 130% 50px;

        .island-l-left__content {
            grid-column: 1/8;
        }
    }

    #trading-on-stock-island-2 {
        grid-column: 7/13;
        margin-bottom: 0;
    }

    #trading-on-stock-island-3 {
        grid-column: 1/7;
        margin-bottom: 0;
    }

    #trading-on-stock-island-4 {
        cursor: auto;
        grid-column: 7/13;
        border: 1px solid $gray-200;
        // height: 172px;
        margin-bottom: 0;

        &:hover {
            transform: none;
            box-shadow: none;
        }
    }

}

#accordeon-module-1 {
    grid-column: 3/11;
    justify-content: center;
}

#accordeon-module-2 {
    grid-column: 3/11;
    justify-content: center;
}

#accordeon-module-3 {
    grid-column: 3/11;
    justify-content: center;
}

#technical-analysis {

    .h4,
    .h5 {
        transition: $trs;
    }

    .btn-flat {
        padding: 0;
        display: flex;

        .img-fluid {
            margin-right: 4px;
        }
    }

    #island-technical-analysis__island-1 {
        grid-column: 1/-1;
        position: relative;
        height: 224px;
        max-height: 224px;
        margin-bottom: 0;
        background-image: url('img/img_16.png');
        background-repeat: no-repeat;
        background-position: 100% 50%;

        #img {
            grid-column: 8/17;
            position: absolute;
            right: -4%;
        }
    }

    #island-technical-analysis__island-2 {
        grid-column: 1/8;
        cursor: pointer;
    }

    #island-technical-analysis__island-3 {
        grid-column: 8/13;
        cursor: pointer;
    }

    #island-technical-analysis__island-4 {
        margin-top: 0;
        grid-column: 1/7;

        .indicator-wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-top: 8px;

            #indicator-1 {
                left: 50px;
            }

            #indicator-2 {
                left: 33px;
            }

            #indicator-3 {
                left: 20px;
            }

            #indicator-4 {}

            .indicator-ellipse {
                width: 72px;
                height: 72px;
                border-radius: 50px;
                position: relative;
                background-color: $white;
                box-shadow: $shadow-normal;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    #island-technical-analysis__island-5 {
        margin-top: 0;
        grid-column: 7/13;
        cursor: pointer;
    }

    #island-technical-analysis__island-6 {
        margin-top: 0;
        margin-bottom: 0;
        grid-column: 1/13;
        background-image: url('img/img_17.png');
        background-repeat: no-repeat;
        background-position: 85% 100%;
        cursor: pointer;
    }
}

#fundamental-analysis {

    .h4,
    .h5 {
        transition: $trs;
    }

    #fundamental-analysis__island-1 {
        grid-column: 1/-1;
        cursor: pointer;
        background-image: url('img/img_18.png');
        background-repeat: no-repeat;
        background-position: 100% 50%;
        position: relative;

        .btn-flat {
            padding: 0;
            display: flex;
        }

        .img-fluid {
            position: absolute;
            top: 12%;
            right: 0;
        }
    }

    #fundamental-analysis__island-2 {
        grid-column: 1/-1;
        margin-top: 0;
        margin-bottom: 0;
        cursor: pointer;

        .island-l-left__content {
            .btn-flat {
                padding: 0;
                display: flex;

                .img-fluid {
                    margin-right: 4px;
                }
            }
        }
    }
}

#nav-tabs-stepper-guide {
    margin-top: 112px;
    grid-column: 1/4;
}

#price-and-exchange-rate {
    #price-and-exchange-rate-island-1 {
        grid-column: 1/5;
    }

    #price-and-exchange-rate-island-2 {
        grid-column: 5/9;
    }

    #price-and-exchange-rate-island-3 {
        grid-column: 9/13;
    }
}

#about-bonds {
    #about-bonds-island-1 {
        grid-column: 1/7;
    }

    #about-bonds-island-2 {
        grid-column: 7/13;

        .list-m {
            color: $color-text-200;
            margin-top: 8px;
        }
    }

    #about-bonds-island-3 {
        align-items: center;
        margin-top: 0;
        padding: 0;

        p {
            color: $color-text-200;
        }

        .island-l-left__image {
            grid-column: 1/5;
        }

        .island-l-left__content {
            grid-column: 5/12;
        }
    }
}

.tab-content-bonds {
    .list-l {
        color: $color-text-200;

        .h6 {
            color: $color-text-300;
            margin-bottom: 8px;
        }
    }
}

.nkd-formula-description-wrapper {
    margin-left: 16px;
}

#bonds-income {
    #bonds-income-island-1 {
        min-height: 173px;
        cursor: pointer;
        transition: $trs;
        grid-column: 1/7;
        box-shadow: $shadow-normal;
        border: none;

        &:hover {
            box-shadow: $shadow-hover;
            transform: translateY(-5px);
        }

        .btn-flat {
            padding-left: 0;
            padding-bottom: 0;
        }
    }

    #bonds-income-island-2 {
        grid-column: 7/13;
        min-height: 173px;
    }

    #bonds-income-island-3 {
        grid-column: 1/13;
        min-height: 173px;
        margin-top: 0;

        .btn-flat {
            padding-left: 0;
        }
    }
}

#withdrawal-island {
    margin-top: 0;
    position: relative;

    .island-l-left__content {
        grid-column: 1/8;
    }

    .island-l-left__img {
        grid-column: 9/13;

        .img-phone {
            position: absolute;
            bottom: 0;
        }

        .img-card {
            position: absolute;
            top: 40%;
            right: 17%;
        }
    }
}

.island-wrapper {
    display: flex;

    h6 {
        margin-top: 24px;
        text-align: center;
    }

    .rating-agencies-island-1 {
        margin-right: 48px;
        .rating-agencies-island-1-inner {
            min-height: 144px;
            width: 240px;
    
        }
    }

    .rating-agencies-island-2 {
        margin-right: 48px;
        .rating-agencies-island-2-inner {
            min-height: 144px;
            width: 240px;
        }
    }

    .rating-agencies-island-3 {
        margin-right: 48px;
        .rating-agencies-island-3-inner {
            min-height: 144px;
            width: 240px;
        }
    }
}

#bond_rate-save {
    margin-left: 0;
    width: 231px;
}

#bonds-peace-island-1 {
    grid-column: 1/7;
}

#bonds-peace-island-2 {
    grid-column: 7/13;
}

#bonds-peace-island-3 {
    grid-column: 1/7;
    margin-top: 0;
}

#bonds-peace-island-4 {
    grid-column: 7/13;
    margin-top: 0;
}

#bonds-peace-island-5 {
    grid-column: 1/7;
    margin-top: 0;
}

#bonds-peace-island-6 {
    grid-column: 7/13;
    margin-top: 0;
}


#bonds-class-island-1 {
    grid-column: 1/7;
}

#bonds-class-island-2 {
    grid-column: 7/13;
}

#bonds-class-island-3 {
    grid-column: 1/7;
    margin-top: 0;
    margin-bottom: 0;
}

#bonds-class-island-4 {
    grid-column: 7/13;
    margin-top: 0;
    margin-bottom: 0;
    .island-l__content {
        grid-column: 1/8;
    }
    .sland-l__content {
        grid-column: 8/9;
    }
}

#get-dividends-island-1 {
    grid-column: 1/8;
    min-height: 204px;
    transition: $trs;
    cursor: pointer;
    border: 0;
    &:hover {
        transform: translateY(-5px);
        box-shadow: $shadow-hover;
    }
    .btn-flat {
        padding-left: 0;
        padding-bottom: 0;
    }
}

#get-dividends-island-2 {
    grid-column: 8/13;
    min-height: 204px;
}

#get-dividends-island-3 {
    grid-column: 1/13;
    border: 0;
    transition: $trs;
    min-height: 204px;
    margin-top: 0;
    cursor: pointer;
    &:hover {
        transform: translateY(-5px);
        box-shadow: $shadow-hover;
    }
    .btn-flat {
        padding-left: 0;
        padding-bottom: 0;
    }
}

#SPO {
    grid-column: 1/7;
}

#FPO {
    grid-column: 7/13;
}

#corporate-action-island-1 {
    grid-column: 1/7;
    cursor: pointer;
    border: 0;
    transition: $trs;
    min-height: 180px;
    &:hover {
        transform: translateY(-5px);
        box-shadow: $shadow-hover;
    }
    .btn-flat {
        padding-left: 0;
        padding-bottom: 0;
    }
}

#corporate-action-island-2 {
    grid-column: 7/13;
    cursor: pointer;
    border: 0;
    transition: $trs;
    min-height: 180px;
    &:hover {
        transform: translateY(-5px);
        box-shadow: $shadow-hover;
    }
    .btn-flat {
        padding-left: 0;
        padding-bottom: 0;
    }
}

#corporate-action-island-3 {
    grid-column: 1/7;
    cursor: pointer;
    border: 0;
    transition: $trs;
    margin-top: 0;
    margin-bottom: 0;
    min-height: 180px;
    &:hover {
        transform: translateY(-5px);
        box-shadow: $shadow-hover;
    }
    .btn-flat {
        padding-left: 0;
        padding-bottom: 0;
    }
}

#corporate-action-island-4 {
    grid-column: 7/13;
    cursor: pointer;
    border: 0;
    transition: $trs;
    margin-top: 0;
    margin-bottom: 0;
    min-height: 180px;
    &:hover {
        transform: translateY(-5px);
        box-shadow: $shadow-hover;
    }
    .btn-flat {
        padding-left: 0;
        padding-bottom: 0;
    }
}

#account-opening {
    position: relative;
    min-height: 240px;
    background-image: url('img/img_8.png');
    background-repeat: no-repeat;
    background-position: 105% 20px;
}

#application-island-1 {
    grid-column: 1/7;
    .island-l-left__content {
        grid-column: 1/7;
    }
    .island-l-left__icon {
        grid-column: 8/9;
    }
}

#application-island-2 {
    grid-column: 7/13;
    .island-l-left__content {
        grid-column: 1/7;
    }
    .island-l-left__icon {
        grid-column: 8/9;
    }
}

#application-island-3 {
    grid-column: 1/7;
    margin-top: 0;
    .island-l-left__content {
        grid-column: 1/7;
    }
    .island-l-left__icon {
        grid-column: 8/9;
    }
}

#application-island-4 {
    grid-column: 7/13;
    margin-top: 0;
    .island-l-left__content {
        grid-column: 1/7;
    }
    .island-l-left__icon {
        grid-column: 8/9;
    }
}

#tarif-1 {
    grid-column: 1/5;
}

#tarif-2 {
    grid-column: 5/9;
}

#tarif-3 {
    grid-column: 9/13;
}

#securities-commission {
    grid-column: 1/7;
    min-height: 224px;
    background-image: url('img/img_9.png');
    background-repeat: no-repeat;
    background-position: 90% 33px;
}

#currency-commission {
    grid-column: 7/13;
    min-height: 224px;
    background-image: url('img/img_10.png');
    background-repeat: no-repeat;
    background-position: 100% 0px;
}

#why-connect {
    align-items: center;
    .island-l-left__image {
        grid-column: 1/5;
        justify-self: center;
    }
    .island-l-left__content {
        grid-column: 5/12;
    }
}

#standard-application {
    grid-column: 1/7;
    min-height: 200px;
    cursor: pointer;
    .btn-flat {
        padding: 0;
    }
}

#market-order {
    grid-column: 7/13;
    min-height: 200px;
    cursor: pointer;
    .btn-flat {
        padding: 0;
    }
}

#limit-application {
    grid-column: 1/7;
    min-height: 200px;
    cursor: pointer;
    .btn-flat {
        padding: 0;
    }
}

#stop-order {
    grid-column: 7/13;
    min-height: 200px;
    cursor: pointer;
    .btn-flat {
        padding: 0;
    }
}

#feature-1 {
    grid-column: 1/7;
}

#feature-2 {
    grid-column: 7/13;
}

#feature-3 {
    margin-top: 0;
    margin-bottom: 0;
    min-height: 72px;
}

.overflow {
    grid-column: 1/-1;
    margin-top: 32px;
    display: flex;
    // align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    .island-l-left {
        min-width: 400px;
        margin: 0 48px 32px 0;
    }

}

.formula-island {
    border: 1px solid $gray-100;
    margin-top: 32px;
    margin-bottom: 32px;
    background-color: $white;
    padding: 20px;
    color: $color-text-300 !important;
    @include body-m-medium;
}