.crs-header {
    position: relative;
    height: 480px;
    background-color: $black-300;
    z-index: -2;

    .crs-grid {
        position: relative;
    }

    .crs-header__description {
        grid-column: 1/7;
        .h2 {
            margin-top: 64px;
            margin-bottom: 32px;
            color: $white;
        }
        .list-l {
            li {
                color: $white;
            }
        }
    }

    .img-fluid {
        grid-column: 7/13;
        position: absolute;
        bottom: -107%;
    }

    #img-header-5 {
        bottom: -38%;
    }

}

.crs-header-light {
    background-color: $gray-100;
    .crs-header__description {
        .h2 {
            color: $color-text-300;
        }
        .list-l {
            li {
                color: $color-text-300;
            }
        }
    }
}

.crs-header-1 {
    background: linear-gradient(118.65deg, #212121 0%, rgba(33, 33, 33, 0) 100%), url('img/img_header_1.jpg');
    background-repeat: no-repeat;
}

.crs-header-2 {
    background: linear-gradient(118.6deg, #212121 0%, rgba(33, 33, 33, 0) 100%), url('img/img_header_2.jpg');
    background-repeat: no-repeat;
}

.crs-header-3 {
    background: linear-gradient(118.65deg, #212121 0%, rgba(33, 33, 33, 0) 100%), url('img/img_header_3.jpg');
    background-repeat: no-repeat;
    .crs-header__description {
        grid-column: 1/8;
    }
}

.crs-header-4 {
    background: linear-gradient(118.54deg, #212121 0%, rgba(33, 33, 33, 0) 100%), url('img/img_header_4.jpg');
    background-repeat: no-repeat;
}

.crs-header-5 {
    background: linear-gradient(118.54deg, rgba(33, 33, 33, 0.5) 0%, rgba(33, 33, 33, 0) 100%), url('img/img_header_5.jpg');
    background-repeat: no-repeat;
}

.crs-header-6 {
    background: linear-gradient(118.65deg, #212121 0.2%, rgba(33, 33, 33, 0) 99.8%), url('img/img_header_6.jpg');
    background-repeat: no-repeat;
}

.crs-header-7 {
    background: linear-gradient(118.65deg, #212121 0.2%, rgba(33, 33, 33, 0) 99.8%), url('img/img_header_7.jpg');
    background-repeat: no-repeat;
}

.crs-header-8 {
    background: linear-gradient(118.54deg, #212121 0%, rgba(33, 33, 33, 0) 100%), url('img/img_header_8.jpg');
    background-repeat: no-repeat;
}

.crs-header-9 {
    background: linear-gradient(118.54deg, #212121 0%, rgba(33, 33, 33, 0) 100%), url('img/img_header_9.jpg');
    background-repeat: no-repeat;
}

.crs-header-10 {
    background: linear-gradient(118.65deg, #212121 0%, rgba(33, 33, 33, 0) 100%), url('img/img_header_10.jpg');
    background-repeat: no-repeat;
}

.crs-header-11 {
    background: linear-gradient(118.65deg, #212121 0%, rgba(33, 33, 33, 0) 100%), url('img/img_header_11.jpg');
    background-repeat: no-repeat;
    .crs-header__description {
        grid-column: 1/8;
    }
}

.crs-header-12 {
    background: linear-gradient(118.54deg, #212121 0%, rgba(33, 33, 33, 0) 100%), url('img/img_header_12.jpg');
    background-repeat: no-repeat;
    .crs-header__description {
        grid-column: 1/8;
    }
}

.crs-header-13 {
    background: linear-gradient(118.54deg, #212121 0.2%, rgba(33, 33, 33, 0) 99.8%), url('img/img_header_13.jpg');
    background-repeat: no-repeat;
    .crs-header__description {
        grid-column: 1/8;
    }
}

.crs-header-14 {
    background: linear-gradient(118.54deg, #212121 0%, rgba(33, 33, 33, 0) 100%), url('img/img_header_14.jpg');
    background-repeat: no-repeat;
}

.crs-header-shadow {
    position: absolute;
    left: 0;
    box-shadow: $shadow-normal;
    width: 100vw;
    height: 2px;
    background: transparent;
}

.description-final {
    grid-column: 1/-1;
    text-align: center;
    .h2 {
        margin-top: 64px;
    }
}