@media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet-s) {

    .crs-progress-wrapper {
        overflow-x: scroll;
        height: 10rem;
        padding-top: 10px;
        padding-left: 30px;
    }

    .mobile-hint-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
    }

    #stock-gift {
        padding: 20px !important;
        .img-fluid {
            display: none;
        }
        .island-l-left__content {
            margin-left: 0 !important;
        }
    }


    #docs-for-client-island-10 {
        margin-top: 16px !important;
    }

    #docs-for-client-island-20 {
        margin-top: 16px !important;
        margin-bottom: 0;
        grid-column: 1/7;
    }

    #docs-for-client-island-21 {
        margin-top: 16px !important;
        grid-column: 7/13;
    }


    #open-account-pills {
        justify-content: inherit;

    }

    .btn-wide {
        display: block;
        text-align: center;
    }

    #individual {
        margin-right: 0;
        padding-right: 8px;
    }

    #btn-fix {
        position: relative !important;
    } 
    

    #withdrawal-island {
        .island-l-left__img {
            display: none;
        }
        .space-24 {
            display: none;
        }
    }

    .rating-agencies {
        justify-content: center;
    }

    #rating-agencies-heading {
        text-align: center;
    }

    .modal-footer {
        display: block;
    }

    #market-order {
        margin-top: 16px !important;
    }

    #application-island-4 {
        margin-top: 16px;
    }

    #pills-tab2 {
        .nav-item {
            .nav-link {
                margin-right: 0;
            }
        }
    }

    #currency-commission {
        min-height: 140px;
        background-image: none;
    }

    #docs-for-client-island-9 {
        margin-bottom: 16px;
    }

    
    #securities-commission {
        min-height: 140px;
        background-image: none;
    }

    #nav-tabs-stepper-signing-documents {
        justify-content: flex-start !important;
        .nav-link {
            min-width: 14rem !important;
        }
    }

    #application-island-1 {
        .island-l-left__icon {
           display: none;
        }
    }

    #application-island-2 {
        margin-top: 0;
        .island-l-left__icon {
           display: none;
        }
    }
    
    #application-island-3 {
        .island-l-left__icon {
           display: none;
        }
    }
    
    #application-island-4 {
        .island-l-left__icon {
           display: none;
        }
    }

    .nav-tabs-stepper {
        padding-left: 0;
    }
    // .nav-tabs-stepper__item {
    //     min-width: 14rem;
    // }

    #account-opening {
        background-image: none;
    }

    
    #tarif-2 {
        margin-top: 16px;
    }
    
    #tarif-3 {
        margin-top: 16px;
    }

    #guide-step-1 {
        padding-top: 20px !important;
    }

    #guide-1 {
        .space-112 {
            height: 32px !important;
        }
    }

    #guide-2 {
        .space-112 {
            height: 32px !important;
        }
    }

    #guide-3 {
        .space-112 {
            height: 32px !important;
        }
    }

    #guide-4 {
        .space-112 {
            height: 32px !important;
        }
    }

    #guide-5 {
        .space-112 {
            height: 32px !important;
        }
    }

    #guide-6 {
        .space-112 {
            height: 32px !important;
        }
    }

    .list-l {
        li {
            @include body-m-regular;
        }
    }

    .body-m-regular {
        font-size: 13px;
        line-height: 20px;
    }

    .list-stepper__ellipse {
        height: auto !important;
    }

    #about-bonds {
        #about-bonds-island-3 {
            padding: 20px;
            .island-l-left__image {
                display: none;
            }
        }
    }

    #rating-agencies-foreign-islands {
        flex-wrap: nowrap;
        overflow-x: auto;
        &::-webkit-scrollbar {
            width: 0;
        }
    }

    #rating-agencies-ru-islands {
        flex-wrap: nowrap;
        overflow-x: auto;
        &::-webkit-scrollbar {
            width: 0;
        }
    }

    #bonds-peace-island-2 {
        margin-top: 0;
    }

    #bonds-class-island-2 {
        margin-top: 0;
    }

    #bonds-class-island-4 {
        margin-top: 16px;
        background-color: $gray-100;
        border: none;
        .island-l__image {
            display: none;
        }
    }

    #get-dividends-island-2 {
        margin-top: 0;
    }

    #corporate-action-island-2 {
        margin-top: 0;
    }

    #corporate-action-island-4 {
        margin-top: 16px;
    }

    #price-and-exchange-rate {
        #price-and-exchange-rate-island-2 {
            margin-top: 0;
            margin-bottom: 0;
        }
    }


    .pills-dividends {
        justify-content: center;
        flex-wrap: inherit;
        text-align: center;
    }


    .island-currency {
        margin-bottom: 16px;
    }

    #about-bonds {
        #about-bonds-island-2 {
            margin-top: 0 !important;
        }
    }

    #nav-tabs-stepper-guide {
        margin-top: 48px;
        padding-left: 0;
    }

    #fundamental-analysis {
        #fundamental-analysis__island-1 {
            background-image: none;
            .img-fluid {
                display: none;
            }
        }
    }

    #technical-analysis {
        #island-technical-analysis__island-6 {
            background-image: none;
        }
    }

    .indicator-wrapper {
        margin-top: 16px !important;
    }

    .gallery-footer {
        height: 10rem;
        overflow-x: scroll;
        background-color: $black-400;
        .gallery-footer__content {
            display: flex;
            padding: 1rem;
        }
    }

    .modal-gallery {
        margin-top: 15rem;
        padding: 0;
    }
    

    .ic-close-gallery {
        position: absolute !important;
        right: 2rem !important;
    }

    .course-start {
        .course-start__content {
            margin-top: 48px;

            .btn-primary {
                margin-right: 0;
                margin-bottom: 16px;
                width: 100%;
            }

            .btn-secondary {
                width: 100%;
            }
        }
    }

    #test-module-1 {
        .space-72 {
            height: 48px;
        }
    }

    .nav-tabs-stepper {
        flex-direction: inherit;
        height: auto;

        .nav-tabs-stepper__item {
            margin-right: 0;
        }
    }

    .nav-tabs__shadow {
        display: none;
    }

    #access-to-exchanges {
        p {
            margin-bottom: 32px;
        }

        #access-to-exchanges-island-1 {
            background-color: $white;
            border: 1px solid $gray-200;
            border-radius: $border-round;

            .island {
                background-color: $white;
                height: auto;

                .img-fluid {
                    margin-top: 24px;
                }
            }
        }

        #access-to-exchanges-island-2 {
            margin-top: 32px;
            background-color: $white;
            border: 1px solid $gray-200;
            border-radius: $border-round;

            .island {
                background-color: $white;
                height: auto;

                .img-fluid {
                    margin-top: 24px;
                }
            }
        }
    }

    #introduction {
        .footer {
            margin: 72px 0;

            .space-48 {
                display: none;
            }
        }
    }

    #dealer {
        #dealer-island-1 {
            margin-top: 32px;
            margin-bottom: 16px;
        }

        #dealer-island-2 {
            margin-top: 0;
            margin-bottom: 32px;
        }
    }

    #who-controls-exchanges {
        margin-top: 0;
    }

    #trading-on-stock-island-1 {
        .island-l-left {
            .island-l-left__content {
                .btn-flat {
                    position: inherit;
                }
            }
        }
    }

    #premium-investors {
        border: 1px solid $gray-200;
        box-shadow: none;
        text-align: center;

        .img-fluid {
            display: none;
        }

        .btn-flat {
            margin-top: 32px;
        }

    }

    .crs-body .crs-content {
        margin-top: 48px;
    }

    .crs-header-1 {
        background-position: 9%;
    }

    .crs-header-2 {
        background-position: 50%;
    }

    .crs-header-3 {
        background-position: 55%;
    }

    .crs-header-4 {
        background-position: 36%;
    }

    .crs-header-5 {
        background-position: 23%;
    }

    .crs-header-6 {
        background-position: 60%;
    }

    .crs-header-7 {
        background-position: 60%;
    }

    .crs-header-8 {
        background-position: 87%;
    }

    .crs-header-9 {
        background-position: 84%;
    }

    .crs-header-10 {
        background-position: 51%;
    }

    .crs-header-11 {
        background-position: 29%;
    }

    .crs-header-12 {
        background-position: 29%;
    }

    .crs-header-13 {
        background-position: 60%;
    }

    .crs-header-14 {
        background-position: 57%;
    }

    #kinds-of-markets #island-4 .img-fluid {
        position: absolute;
        right: -20px;
        z-index: -1;
        bottom: -4%;
        opacity: .4;
    }

    #kinds-of-markets {
        #island-4 {
            background-position: -200%;
            .island-l-left__content {
                .h5 {
                    color: $blue-100;
                }
            }
        }

        .island-l-left {
            margin-top: 0;
        }

        #island-1 {
            margin-top: 16px;
        }
    }

    .crs-header .img-fluid {
        display: none;
    }

    .crs-navbar-wrapper {
        box-shadow: $shadow-normal;
    }

    .h1 {
        font-size: 30px;
        line-height: 45px;
    }

    .h2 {
        font-size: 28px;
        line-height: 42px;
    }

    .h3 {
        font-size: 26px;
        line-height: 34px;
    }

    .h4 {
        font-size: 24px;
        line-height: 36px;
    }

    .h5 {
        font-size: 22px;
        line-height: 33px;
    }

    .h6 {
        font-size: 20px;
        line-height: 30px;
    }

    .body-l-regular {
        font-size: 15px;
        line-height: 24px;
    }

    .body-l-medium {
        font-size: 15px;
        line-height: 24px;
    }


    .carousel {
        display: none;
    }

    .island-l-left {
        margin-top: 16px;
        margin-bottom: 16px;

        p {
            font-size: 13px;
            line-height: 20px;
        }
    }

    .gallery-wrapper {
        .h6 {
            margin-top: 1rem;
        }

        .embed-responsive {
            grid-column: 1/-1;
        }

        .gallery-description {
            grid-column: 1/-1;
        }
    }

    .navbar {
        padding: 0;
        justify-content: start;

        #crs-navbar-dropdown {
            display: none;
        }

        .navbar-brand {
            padding-left: 5px;
            margin-right: 0;
            display: flex;
            order: 2;
        }
    }

    .nav-tabs {
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        height: 53px;
        padding-left: 15px;

        &::-webkit-scrollbar {
            width: 0;
        }

        .nav-link {
            padding: 20px 16px;
            margin-right: 0;
            @include caption-s-medium;
        }

        .nav-link:first-child {
            padding-left: 0;
        }

        .nav-link.active,
        .nav-item.show .nav-link {
            border-bottom: 0;
        }
    }

    .crs-body {

        .crs-header {
            box-shadow: none;
        }

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    .progress-wrap {
        right: 16px;
        bottom: 16px;
        width: 32px;
        height: 32px;
    }

    br {
        display: none;
    }
}

@media (min-width: $breakpoint-tablet-s) and (max-width: $breakpoint-tablet-l) {

    #about-bonds {
        #about-bonds-island-2 {
            margin-top: 0 !important;
        }
    }

    .indicator-wrapper {
        margin-top: 16px !important;
    }

    .modal-footer {
        display: block;
    }

    #docs-for-client-island-10 {
        margin-top: 16px !important;
    }

    #docs-for-client-island-20 {
        margin-top: 16px !important;
        margin-bottom: 0;
        grid-column: 1/7;
    }

    #docs-for-client-island-21 {
        margin-top: 16px !important;
        grid-column: 7/13;
    }

    .mobile-hint-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
    }

    #docs-for-client-island-10 {
        margin-top: 16px;
    }

    .crs-progress-wrapper {
        overflow-x: scroll;
        height: 10rem;
        padding-top: 10px;
        padding-left: 30px;
    }

    #application-island-4 {
        margin-top: 16px;
    }

    #application-island-1 {
        .island-l-left__icon {
           display: none;
        }
    }

    #btn-fix {
        position: relative !important;
    } 

    #market-order {
        margin-top: 16px !important;
    }

    #docs-for-client-island-9 {
        margin-bottom: 16px;
    }

    #currency-commission {
        min-height: 140px;
        background-image: none;
    }

    
    #securities-commission {
        min-height: 140px;
        background-image: none;
    }

    #pills-tab2 {
        .nav-item {
            .nav-link {
                margin-right: 0;
            }
        }
    }

    #withdrawal-island {
        .island-l-left__img {
            display: none;
        }
        .space-24 {
            display: none;
        }
    }

    #application-island-2 {
        margin-top: 0;
        .island-l-left__icon {
           display: none;
        }
    }
    
    #application-island-3 {
        .island-l-left__icon {
           display: none;
        }
    }
    
    #application-island-4 {
        .island-l-left__icon {
           display: none;
        }
    }

    
    #account-opening {
        background-image: none;
    }

    #tarif-2 {
        margin-top: 16px;
    }
    
    #tarif-3 {
        margin-top: 16px;
    }

    .step-guide {
        min-width: 14rem;
    }

    .island-currency {
        margin-bottom: 16px;
    }

    #guide-1 {
        .space-112 {
            height: 32px !important;
        }
    }

    #guide-2 {
        .space-112 {
            height: 32px !important;
        }
    }

    #guide-3 {
        .space-112 {
            height: 32px !important;
        }
    }

    #guide-4 {
        .space-112 {
            height: 32px !important;
        }
    }

    #guide-5 {
        .space-112 {
            height: 32px !important;
        }
    }

    #guide-6 {
        .space-112 {
            height: 32px !important;
        }
    }

    #nav-tabs-stepper-guide {
        margin-top: 48px;
        padding-left: 0;
    }

    #fundamental-analysis {
        #fundamental-analysis__island-1 {
            background-image: none;
            .img-fluid {
                display: none;
            }
        }
    }

    #rating-agencies-foreign-islands {
        flex-wrap: nowrap;
        overflow-x: auto;
        &::-webkit-scrollbar {
            width: 0;
        }
    }

    #rating-agencies-ru-islands {
        flex-wrap: nowrap;
        overflow-x: auto;
        &::-webkit-scrollbar {
            width: 0;
        }
    }


    #price-and-exchange-rate {
        #price-and-exchange-rate-island-2 {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .list-l {
        li {
            @include body-m-regular;
        }
    }

    #bonds-peace-island-2 {
        margin-top: 0;
    }

    #bonds-class-island-2 {
        margin-top: 0;
    }

    #bonds-class-island-4 {
        margin-top: 16px;
        margin-top: 16px;
        background-color: $gray-100;
        border: none;
        .island-l__image {
            display: none;
        }
    }

    #get-dividends-island-2 {
        margin-top: 0;
    }

    #corporate-action-island-2 {
        margin-top: 0;
    }

    #corporate-action-island-4 {
        margin-top: 16px;
    }


    .pills-dividends {
        justify-content: center;
        flex-wrap: inherit;
        text-align: center;
    }

    
    .gallery-footer {
        height: 10rem;
        overflow-x: scroll;
        background-color: $black-400;
        .gallery-footer__content {
            display: flex;
            padding: 1rem;
        }
    }

    .modal-gallery {
        margin-top: 15rem;
        padding: 0;
    }
    

    .ic-close-gallery {
        position: absolute !important;
        right: 2rem !important;
    }

    #technical-analysis {
        #island-technical-analysis__island-6 {
            background-image: none;
        }
    }

    .nav-tabs-stepper {
        flex-direction: inherit;
        height: auto;

        .nav-tabs-stepper__item {
            margin-right: 0;
        }
    }

    #test-module-1 {
        .space-72 {
            height: 48px;
        }
    }

    .nav-tabs__shadow {
        height: 149px;
    }


    #access-to-exchanges {
        p {
            margin-bottom: 32px;
        }

        #access-to-exchanges-island-1 {
            background-color: $white;
            border: 1px solid $gray-200;
            border-radius: $border-round;

            .island {
                background-color: $white;
                height: auto;

                .img-fluid {
                    margin-top: 24px;
                }
            }
        }

        #access-to-exchanges-island-2 {
            margin-top: 32px;
            background-color: $white;
            border: 1px solid $gray-200;
            border-radius: $border-round;

            .island {
                background-color: $white;
                height: auto;

                .img-fluid {
                    margin-top: 24px;
                }
            }
        }
    }

    #dealer {
        #dealer-island-1 {
            margin-top: 32px;
            margin-bottom: 16px;
        }

        #dealer-island-2 {
            margin-top: 0;
            margin-bottom: 32px;
        }
    }

    #introduction {
        .footer {
            margin: 72px 0;

            .space-48 {
                display: none;
            }
        }
    }

    .crs-body .crs-content {
        margin-top: 48px;
    }


    #who-controls-exchanges {
        margin-top: 0;
    }


    .session-disconnect {
        .session-disconnect__content {
            .ellipse {
                margin-top: 48px;
            }
        }
    }

    .course-start {
        .course-start__content {
            margin-top: 48px;

            .btn-primary {
                margin-right: 0;
                margin-bottom: 16px;
                width: 100%;
            }

            .btn-secondary {
                width: 100%;
            }
        }
    }

    #kinds-of-markets #island-4 .img-fluid {
        position: absolute;
        right: -20px;
        z-index: -1;
        bottom: -4%;
        opacity: .4;
    }


    #kinds-of-markets {
        .h3 {
            margin-bottom: 16px !important;
        }

        .island-l-left {
            margin-top: 0;
        }
        #island-1 {
            margin-top: 16px !important;
        }
    }

    .crs-header .img-fluid {
        display: none;
    }

    .h1 {
        font-size: 30px;
        line-height: 45px;
    }

    .h2 {
        font-size: 28px;
        line-height: 42px;
    }

    .h3 {
        font-size: 26px;
        line-height: 39px;
    }

    .h4 {
        font-size: 24px;
        line-height: 36px;
    }

    .h5 {
        font-size: 22px;
        line-height: 33px;
    }

    .h6 {
        font-size: 20px;
        line-height: 30px;
    }

    .body-l-regular {
        font-size: 15px;
        line-height: 24px;
    }

    .carousel {
        display: none;
    }

    .island-l-left {
        margin-top: 16px;
        margin-bottom: 16px;

        p {
            font-size: 13px;
            line-height: 20px;
        }
    }

    .gallery-wrapper {
        .h6 {
            margin-top: 1rem;
        }

        .embed-responsive {
            grid-column: 1/-1;
        }

        .gallery-description {
            grid-column: 1/-1;
        }
    }

    .navbar {
        padding: 0;
        justify-content: start;

        #crs-navbar-dropdown {
            display: none;
        }

        .navbar-brand {
            padding-left: 5px;
            margin-right: 0;
            display: flex;
            order: 2;
        }

        .navbar-toggler {
            padding-left: 0;
        }
    }

    .nav-tabs {
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;

        &::-webkit-scrollbar {
            width: 0;
        }

        .nav-link {
            padding: 14px 16px;
        }

        .nav-link:first-child {
            padding-left: 0;
        }

        .nav-link.active,
        .nav-item.show .nav-link {
            border-bottom: 0;
        }
    }

    .crs-navbar-wrapper {
        margin: 0 44px;
        box-shadow: none;
    }

    .nav-tabs {
        height: 53px;
        padding-left: 0;

        &::-webkit-scrollbar {
            width: 0;
        }

        .nav-link {
            padding: 20px 16px;
            margin-right: 0;
            @include caption-s-medium;
        }

        .nav-link:first-child {
            padding-left: 0;
        }

        .nav-link.active,
        .nav-item.show .nav-link {
            border-bottom: 0;
        }
    }

    .progress-wrap {
        right: 16px;
        bottom: 16px;
        width: 32px;
        height: 32px;
    }

    br {
        display: none;
    }

}

@media (min-width: $breakpoint-tablet-l) and (max-width: $breakpoint-desktop-s) {

    #rating-agencies-foreign-islands {
        flex-wrap: nowrap;
        overflow-x: auto;
        &::-webkit-scrollbar {
            width: 0;
        }
    }

    #market-order {
        margin-top: 16px !important;
    }

    #withdrawal-island {
        .island-l-left__img {
            display: none;
        }
        .space-24 {
            display: none;
        }
    }


    #application-island-4 {
        margin-top: 16px;
    }

    #docs-for-client-island-9 {
        margin-bottom: 16px;
    }

    #currency-commission {
        min-height: 140px;
        background-image: none;
    }

    
    #securities-commission {
        min-height: 140px;
        background-image: none;
    }

    #application-island-1 {
        .island-l-left__icon {
           display: none;
        }
    }

    #application-island-2 {
        margin-top: 0;
        .island-l-left__icon {
           display: none;
        }
    }
    
    #application-island-3 {
        .island-l-left__icon {
           display: none;
        }
    }
    
    #application-island-4 {
        .island-l-left__icon {
           display: none;
        }
    }

    
    #account-opening {
        background-image: none;
    }

    #tarif-2 {
        margin-top: 16px;
    }
    
    #tarif-3 {
        margin-top: 16px;
    }

    #rating-agencies-ru-islands {
        flex-wrap: nowrap;
        overflow-x: auto;
        &::-webkit-scrollbar {
            width: 0;
        }
    }


    #guide-1 {
        .space-112 {
            height: 48px !important;
        }
    }

    #guide-2 {
        .space-112 {
            height: 48px !important;
        }
    }

    #guide-3 {
        .space-112 {
            height: 48px !important;
        }
    }

    #guide-4 {
        .space-112 {
            height: 48px !important;
        }
    }

    #guide-5 {
        .space-112 {
            height: 48px !important;
        }
    }

    #guide-6 {
        .space-112 {
            height: 48px !important;
        }
    }


    .rooting {
        width: 40rem;
    }

    .island-currency {
        margin-bottom: 16px;
    }

    #nav-tabs-stepper-guide {
        margin-top: 48px;
        padding-left: 0;
    }

    #fundamental-analysis {
        #fundamental-analysis__island-1 {
            background-image: none;
            .img-fluid {
                display: none;
            }
        }
    }

    #price-and-exchange-rate {
        #price-and-exchange-rate-island-2 {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .list-l {
        li {
            @include body-m-regular;
        }
    }

    #bonds-peace-island-2 {
        margin-top: 0;
    }

    #bonds-class-island-2 {
        margin-top: 0;
    }

    #bonds-class-island-4 {
        margin-top: 16px;
    }

    #get-dividends-island-2 {
        margin-top: 0;
    }

    #corporate-action-island-2 {
        margin-top: 0;
    }

    #corporate-action-island-4 {
        margin-top: 16px;
    }


    .pills-dividends {
        justify-content: center;
        flex-wrap: inherit;
        text-align: center;
    }

    .indicator-wrapper {
        margin-top: 16px !important;
    }
    
    .gallery-footer {
        height: 10rem;
        overflow-x: scroll;
        background-color: $black-400;
        .gallery-footer__content {
            display: flex;
            padding: 1rem;
        }
    }

    .modal-gallery {
        margin-top: 15rem;
        padding: 0;
    }
    

    .ic-close-gallery {
        position: absolute !important;
        right: 2rem !important;
    }

    #technical-analysis {
        #island-technical-analysis__island-6 {
            background-image: none;
        }
    }

    .nav-tabs-stepper {
        flex-direction: inherit;
        height: auto;

        .nav-tabs-stepper__item {
            margin-right: 0;
        }
    }

    .nav-tabs__shadow {
        height: 160px;
    }

    #test-module-1 {
        .space-72 {
            height: 48px;
        }
    }


    br {
        display: none;
    }

    #access-to-exchanges {
        p {
            margin-bottom: 32px;
        }

        #access-to-exchanges-island-1 {
            background-color: $white;
            border: 1px solid $gray-200;
            border-radius: $border-round;

            .island {
                background-color: $white;
                height: auto;

                .img-fluid {
                    margin-top: 24px;
                }
            }
        }

        #access-to-exchanges-island-2 {
            margin-top: 32px;
            background-color: $white;
            border: 1px solid $gray-200;
            border-radius: $border-round;

            .island {
                background-color: $white;
                height: auto;

                .img-fluid {
                    margin-top: 24px;
                }
            }
        }
    }

    #dealer {
        #dealer-island-1 {
            margin-top: 32px;
            margin-bottom: 16px;
        }

        #dealer-island-2 {
            margin-top: 0;
            margin-bottom: 32px;
        }
    }

    #introduction {
        .footer {
            margin: 72px 0;

            .space-48 {
                display: none;
            }
        }
    }


    .session-disconnect {
        .session-disconnect__content {
            .ellipse {
                margin-top: 48px;
            }
        }
    }

    .course-start {
        .course-start__content {
            margin-top: 48px;

            .btn-primary {
                margin-right: 0;
                margin-bottom: 16px;
                width: 100%;
            }

            .btn-secondary {
                width: 100%;
            }
        }
    }


    #nav-tabs-mobile {
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;

        &::-webkit-scrollbar {
            width: 0;
        }

        .nav-link {
            border-bottom: 0;
            margin-top: 4px;
        }
    }

    .nav-tabs {
        height: 58px;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    .h1 {
        font-size: 30px;
        line-height: 45px;
    }

    .h2 {
        font-size: 28px;
        line-height: 42px;
    }

    .h3 {
        font-size: 26px;
        line-height: 39px;
    }

    .h4 {
        font-size: 24px;
        line-height: 36px;
    }

    .h5 {
        font-size: 22px;
        line-height: 33px;
    }

    .h6 {
        font-size: 20px;
        line-height: 30px;
    }

    .body-l-regular {
        font-size: 15px;
        line-height: 24px;
    }

    .carousel {
        display: none;
    }

    .island-l-left {
        margin-top: 16px;
        margin-bottom: 16px;

        p {
            font-size: 13px;
            line-height: 20px;
        }
    }

    .navbar {
        padding: 0;
        justify-content: start;

        #crs-navbar-dropdown {
            display: none;
        }

        .navbar-brand {
            padding-left: 15px;
            margin-right: 32px;
            display: flex;
            order: 2;
        }
    }

    .crs-navbar-wrapper {
        margin: 0 80px;
    }

    .navbar-light .navbar-toggler {
        padding-left: 0;
    }


    .progress-wrap {
        right: 16px;
        bottom: 16px;
        width: 32px;
        height: 32px;
    }

    br {
        display: none;
    }

}

@media (min-width: $breakpoint-desktop-s) and (max-width: $breakpoint-desktop-m) {

    #nav-tabs-mobile {
        display: none;
    }

    .crs-navbar-wrapper {
        margin: 0px 180px;
    }

    .sidemenu {
        display: none;
    }

    .crs-fade {
        display: none;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 8px;
    }

    .nav-tabs-module {
        display: none;
    }

    .progress-wrap {
        right: 24px;
        bottom: 24px;
        width: 40px;
        height: 40px;
    }
}

@media (min-width: $breakpoint-desktop-m) and (max-width: $breakpoint-desktop-l) {


    .slide-wrapper {
        display: none;
    }

    .crs-navbar-wrapper {
        margin: 0 220px;
    }

    .sidemenu {
        display: none;
    }

    .crs-fade {
        display: none;
    }

    .nav-tabs-module {
        display: none;
    }

    #nav-tabs-mobile {
        display: none;
    }
}

@media (min-width: $breakpoint-desktop-l) and (max-width: $breakpoint-desktop-xl) {

    .rooting {
        width: 40rem;
    }
    

    .slide-wrapper {
        display: none;
    }

    #nav-tabs-mobile {
        display: none;
    }

    .crs-navbar-wrapper {
        margin: 0 320px;
    }

    .sidemenu {
        display: none;
    }

    .crs-fade {
        display: none;
    }

    .nav-tabs-module {
        display: none;
    }
}

@media (min-width: $breakpoint-desktop-xl) {

    .rooting {
        width: 40rem;
    }

    .slide-wrapper {
        display: none;
    }

    #nav-tabs-mobile {
        display: none;
    }

    .crs-navbar-wrapper {
        margin: 0 400px;
        // box-shadow: $shadow-normal;
    }

    .sidemenu {
        display: none;
    }

    .crs-fade {
        display: none;
    }

    .nav-tabs-module {
        display: none;
    }
}


//Костыль
@media (min-width: 992px) and (max-width: 1094px) {
    #nav-tabs-mobile {
        display: none;
    }

    .nav-tabs__shadow {
        display: none;
    }

    #crs-navbar-dropdown {
        display: block !important;
    }

    .navbar {
        .navbar-brand {
            padding-left: 0;
            display: flex;
            order: 0;
        }
    }

    .dropdown-menu {
        right: -300%;
        left: inherit;
    }

    .crs-navbar-wrapper {
        margin: 0px 100px;
    }

    .crs-grid {
        margin: 0px 100px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 16px;
    }
}