.accordion-l {
    .accordion-label {
        @include body-l-regular;
        cursor: pointer;
        .accordion-label__link {
            padding: 12px 16px;
            text-align: left;
            background-color: $white;
            color: $color-text-300;
            border: 1px solid $gray-200;
            display: flex;
            align-items: center;
            transition: $trs;
            &:hover {
                background-color: $gray-100;
            }
        }
        .accordion-label__link-no-border-top {
            border-top: 0;
        }
        .accordion-label__link-top {
            border-radius: 8px 8px 0px 0px;
        }
        .accordion-label__link-bottom {
            border-radius: 0px 0px 8px 8px;
        }
        .ic-ellipse {
            margin-right: 16px;
        }
        .img-fluid {
            transition: $trs;
            margin-left: auto;
        }
    }
    .accordion-content {
        @include body-m-regular;
        padding: 20px;
        border-top: 0;
        text-align: left;
        border-right: 1px solid $gray-200;
        border-left: 1px solid $gray-200;
        border-bottom: 1px solid $gray-200;
    }
}

.rotate-icon {
    transform: rotate(-180deg);
}