.action {
    @include body-m-regular;
    max-width: 300px;
    box-shadow: $shadow-normal;
    padding: 16px;
    color: $color-text-300;
    border-radius: 8px;
    transition: $trs;
    &:hover {
        cursor: pointer;
        box-shadow: $shadow-hover;
        transform: translateY(-3px);
    }
    .action-content {
        min-height: 72px;
        .action-content__text {
            width: 200px;
        }
        .action-content__text__large {
            width: 230px;
        }
        .action-content__ic {
            margin-left: 20px;
        }
    }
    .action-content_top-vertical-align {
        display: flex;
        align-items: start;
    }
    .action-content_center-vertical-align {
        display: flex;
        align-items: center;
    }
}

.w-auto {
    max-width: none;
}
