.btn {
    @include btn-reboot;
    cursor: pointer;

    &-wide {
        // padding: $btn-wide !important;
        width: 100%;
    }

    .ic-left {
        margin-right: 8px;
    }

    .ic-right {
        margin-left: 8px;
    }

    &-wide {
        padding: $btn-wide;
    }

    &-m {
        padding: $btn-medium;
    }

    &-s {
        padding: $btn-small;
        font-size: 13px;
        line-height: 16px;
    }

    &:focus {
        outline: none;
    }

    // Primary
    &-primary {
        @include btn ($btn-large, $yellow-100, $color-text-300, 4px); //Размер, цвет бэкграунда, цвет текста, скругление
        font-family: "Neue-Haas-Unica-W1G-Medium";
        font-size: 15px;
        line-height: 24px;

        &-wide {
            padding: $btn-wide;
        }

        &-m {
            padding: $btn-medium;
        }

        &-s {
            padding: $btn-small;
            font-size: 13px;
            line-height: 16px;
        }

        &:hover {
            background-color: $yellow-200;
        }

        &:active {
            background-color: $yellow-300;
        }

        &:focus {
            background-color: $yellow-300;
        }

    }

    // Secondary
    &-secondary {
        @include btn ($btn-large, $lightgray, $blue-100, 4px); //Размер, цвет бэкграунда, цвет текста, скругление
        font-size: 15px;
        line-height: 24px;


        &-m {
            padding: $btn-medium;
        }

        &-s {
            padding: $btn-small;
            font-size: 13px;
            line-height: 16px;
        }

        &:hover {
            background-color: mix($black-400, $lightgray, 3%);
        }

        &:active {
            background-color: mix($black-400, $lightgray, 5%);
        }

        &:focus {
            background-color: mix($black-400, $lightgray, 5%);
        }
    }

    // Outline
    &-outline {
        @include btn ($btn-large, transparent, $blue-100, 4px); //Размер, цвет бэкграунда, цвет текста, скругление
        border: 1px solid $blue-100;
        font-size: 15px;
        line-height: 24px;


        &-wide {
            padding: $btn-wide;
        }

        &-m {
            padding: $btn-medium;
        }

        &-s {
            padding: $btn-small;
            font-size: 13px;
            line-height: 16px;
        }

        &:hover {
            background-color: $lightblue;
        }

        &:active {
            background-color: mix($black-400, $lightblue, 3%);
        }

        &:focus {
            background-color: mix($black-400, $lightblue, 3%);
        }
    }

    // Flat
    &-flat {
        @include btn ($btn-large, transparent, $blue-100, 4px); //Размер, цвет бэкграунда, цвет текста, скругление
        font-size: 15px;
        line-height: 24px;

        &-wide {
            padding: $btn-wide;
        }

        &-m {
            padding: $btn-medium;
        }

        &-s {
            padding: $btn-small;
            font-size: 13px;
            line-height: 16px;
        }

        &:hover {
            color: $blue-200;
        }

        &:active {
            color: $blue-300;
        }

        &:focus {
            color: $blue-300;
        }
    }
}