.island-l-left {
    padding: 20px;
    border: 1px solid $gray-200;
    border-radius: $border-round;
    margin-top: 32px;
    margin-bottom: 32px;

    .h5 {
        margin: 0;
    }

    p {
        @include body-m-regular;
        color: $color-text-200;
    }

    .custom-control-label {
        @include body-m-regular;
        color: $color-text-300;
    }
}

.island-filled {
    background-color: $gray-100;
    border: 0;
}

.island-medium {
    padding: 20px;
}

.island-large {
    padding: 24px;
}

.border-0 {
    border: 0;
}

.island-border {
    border: 1px solid $gray-200;
    box-shadow: none;
    border-radius: $border-round;
}

.island-card {
    text-align: center;
    .island {
        height: 144px;
    }
    .h6 {
        margin-top: 24px;
        margin-bottom: 0;
    }
    p {
        margin-top: 8px;
        color: $color-text-200;
    }
}

.island {
    border-radius: 8px;
    background-color: $gray-100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.island-achivment {
    border: 1px solid $gray-100;
    border-radius: $border-round;
    background-color: $white;
    text-align: center;
    min-height: 200px;
    margin: 32px 0;
    .island-achivment__ellipse {
        width: 112px;
        height: 112px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $gray-200;
        border: 2px solid $white;
        border-radius: 100%;
        box-shadow: $shadow-normal;
        margin: 24px auto 8px auto;
        .img-fluid {
            max-width: 50px;
        }
    }
    .body-l-medium {
        margin: 8px 0;
    }
    .body-l-regular {
        margin-bottom: 32px;
    }

}

.island-currency {
    border: 1px solid $gray-200;
    border-radius: $border-round;
    color: $color-text-300;
    text-align: center;
    .img-fluid {
        margin-top: 20px;
        margin-bottom: 16px;
    }
    p {
        margin-bottom: 20px;
    }
    &-1 {
        grid-column: 1/4;
    }
    &-2 {
        grid-column: 4/7;
    }
    &-3 {
        grid-column: 7/10;
    }
    &-4 {
        grid-column: 10/13;
    }
}

#img_poker {
    grid-column: 1/5;
    justify-self: center;
}

#lotery {
    grid-column: 5/11;
}