.list-l {
    list-style-image: url(assets/icons/custom/bullet.svg);
    padding-left: 16px;

    li {
        @include body-l-regular;
        padding-left: 16px;
        padding-bottom: 12px;
    }

    li:last-child {
        padding-bottom: 0;
    }

    // Вложенный список
    .list-l__subitem {
        padding-left: 0;
        list-style-image: none;
        li {
            @include body-m-regular;
            padding-left: 0;
            color: $color-text-200;
            .list-l__subitem-dash {
                padding-right: 12px;
                padding-left: 36px;
            }
        }
    }
}

.list-m {
    list-style-image: url(assets/icons/custom/bullet.svg);
    padding-left: 16px;

    li {
        @include body-m-regular;
        padding-left: 16px;
        padding-bottom: 8px;
    }

    li:last-child {
        padding-bottom: 0;
    }

        // Вложенный список
        .list-m__subitem {
            padding-left: 0;
            list-style-image: none;
            li {
                @include body-s-regular;
                padding-left: 0;
                list-style-image: none;
                color: $color-text-200;
                .list-l__subitem-dash {
                    padding-right: 12px;
                    padding-left: 36px;
                }
            }
        }
}

.list-s {
    list-style-image: url(assets/icons/custom/bullet.svg);
    padding-left: 16px;

    li {
        @include body-s-regular;
        padding-left: 16px;
        padding-bottom: 8px;
    }

    li:last-child {
        padding-bottom: 0;
    }

            // Вложенный список
            .list-s__subitem {
                padding-left: 0;
                li {
                    @include body-s-regular;
                    padding-left: 0;
                    list-style: none;
                    color: $color-text-200;
                    .list-l__subitem-dash {
                        padding-right: 12px;
                        padding-left: 36px;
                    }
                }
            }
}

.ol {
    color: $color-text-200;
    padding-left: 40px;
    @include body-m-regular;
    li:first-child {
        padding-top: 0;
    }
    li {
        padding-top: 8px;
        padding-left: 12px;
    }
}

.crs-ol {
    li {
        padding-bottom: 12px;
        &:last-child {
            padding-bottom: 0;
        }
    }
}

.list-subitem {
    list-style-image: none;
    color: $color-text-200;
    padding-left: 12px;
    padding-top: 0;
    li {
        @include body-s-regular;
        padding-top: 4px;
        list-style: none;
    }
    li:first-child {
        padding-top: 0;
    }
}

.list-stepper-wrapper {
    grid-column: 1/-1;
    margin-top: 32px;
    .list-stepper {
        display: flex;
        align-items: center;
        .list-stepper__ellipse {
            width: 48px;
            height: 48px;
            background-color: $gray-100;
            border-radius: 100%;
            margin-right: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }
    .list-stepper__content {
        background-color: $gray-100;
        border-radius: $border-round;
        padding: 20px;
        color: $color-text-200;
        width: 35rem;  
    }
}