.crs-progress-wrapper {
    margin-top: 72px;
    margin-bottom: 112px;

    .crs-progress-single {
        height: 8px;
        width:  600px;
        background-color: $gray-200;
        display: flex;
        align-items: center;
        position: relative;
        border-radius: 4px;

        .line-in-progress {
            height: 8px;
            position: absolute;
            border-radius: $border-round-small;
            background-color: $yellow-100;
            &-success {
                background-color: $green-100;
            }
            &-1 {
                width: 300px;
                left: 0;
            }
            &-2 {
                width: 300px;
                left: 49%;
            }
            // &-3 {
            //     width: 180px;
            //     left: 70%;
            // }
        }
    }

    .crs-progress-single__dot {
        width: 24px;
        height: 24px;
        background-color: $gray-200;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        &-active {
            background-color: $yellow-100;
        }
        &-success {
            background-color: $green-100;
        }
        &-1 {
            position: relative;
            left: 0%;
        }
        &-2 {
            position: relative;
            left: 45%;
        }
        &-3 {
            position: relative;
            left: 90%;
        }
        // &-4 {
        //     position: relative;
        //     left: 85%;
        // }
        .img-fluid {
            z-index: 2;
        }
    }

    .progress-label {
        position: absolute;
        top: 32px;
        text-align: center;
        @include body-m-regular;
        color: $color-text-200;
        min-width: 7rem;
    }
}

.legend-wrapper {
    .legend-1 {
        span {
            margin-left: 8px;
        }
    }
    .legend-2 {
        margin-top: 16px;
        span {
            margin-left: 8px;
        }
    }
    .legend-3 {
        margin-top: 16px;
        span {
            margin-left: 8px;
        }
    }
}


// .animation {
//     animation-name: in-progress;
//     animation-duration: 3s;
//     animation-iteration-count: infinite;
//     animation-timing-function: ease-in-out;
// }

// @keyframes in-progress {
//     from {
//         background: linear-gradient(90deg, $yellow-100 0%, rgba(231, 232, 234, 0) 0%);
//     }

//     25% {
//         background: linear-gradient(90deg, $yellow-100 0%, rgba(231, 232, 234, 0) 25%);
//     }

//     50% {
//         background: linear-gradient(90deg, $yellow-100 0%, rgba(231, 232, 234, 0) 50%);
//     }

//     75% {
//         background: linear-gradient(90deg, $yellow-100 0%, rgba(231, 232, 234, 0) 75%);
//     }

//     to {
//         background: linear-gradient(90deg, $yellow-100 0%, rgba(231, 232, 234, 0) 100%);
//     }
// }