.skeleton {
    width: 100%;
    height: 100%;
    border-radius: $border-round;
    animation-name: skeleton;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

// .skeleton-1 {
//     position: absolute;
//     height: 48px;
//     width: 200px;
// }

@keyframes skeleton {
    from {
        background: rgba(0, 0, 0, 0.08);
    }
    50% {
        background: rgba(0, 0, 0, 0.16);
    }
    to {
        background: rgba(0, 0, 0, 0.08);
    }
}

