@mixin nav {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    color: $text-secondary;
}